<ul>

  <% @users.each do |user| %>
    <% if user.avatar.url %>
        <%= image_tag user.avatar.url, width: '200px' %>
      <% else %>
        <img src="http://via.placeholder.com/200x200" class="img-responsive img-rounded">
      <% end %>
    <li>  
      <%= user.name %>
      <%= render partial: "shared/follow", locals: {user: user} %>
    </li>
  <% end %>

</ul>